################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ExerciciosLeetCode/FileContentIndex/c8720573-ff55-4384-a947-68f943afb873.vsidx
/.vs/ExerciciosLeetCode/FileContentIndex/0fc7c677-0f18-4c19-963f-0af2f9544b08.vsidx
/.vs/ExerciciosLeetCode/FileContentIndex/3b6dde97-3a0e-4e8b-8eaa-9ece16f15fc1.vsidx
/.vs/ExerciciosLeetCode/FileContentIndex/66921a47-3898-409c-83d6-f1feb5bb7c4b.vsidx
/.vs/ExerciciosLeetCode/FileContentIndex/d998a580-da8d-4974-a3d4-49b68c7b624f.vsidx
/.vs/ExerciciosLeetCode/FileContentIndex/9b55011b-93ca-421d-8978-a40b5581ec01.vsidx
/.vs/ExerciciosLeetCode/FileContentIndex
